/* plainterm.js
https://github.com/mkrl/plainterm.js */

.terminal {
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px black solid;
    background-color: black;
    color: white;
    padding: 15px;
    position: relative;
    font-family: "Courier New";
}

.terminal-type {
    width: 100%;
    display: flex;
}

.terminal-type > span {
    padding-right: 7pt;
}
.terminal-type > input{
    flex-grow: 2;
    background: transparent;
    border: 0;
    color: white;
    font-family: "Courier New";
    font-size: 16px;
}
.terminal-type > input:focus{
    border: none !important;
    outline: none !important;
}

.terminal-container > p {
    margin: 0;
}