#terminal {
    width: 500px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    border: 1px black solid;
    padding: 15px;
    position: relative;
}

.terminal-type {
    width: 100%;
    display: flex;
}
.terminal-type > input{
    flex-grow: 2;
}
