.terminal {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

.terminal-type {
    width: 100%;
    display: flex;
}

.terminal-type > span {
    padding-right: 7pt;
}
.terminal-type > input{
    flex-grow: 2;
    background: transparent;
    border: 0;
    color: white;
    font-family: "Courier New", monospace;
    font-size: 16px;
}
.terminal-type > input:focus{
    border: none !important;
    outline: none !important;
}

.terminal-container > p {
    margin: 0;
}

span.terminal-prompt {
    color: #929292;
}

span.termainal-command {
    color: #ffff7d;
}

span.terminal-error {
    color: #cc1010;
}
