.terminal {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--terminal-bg-color, black);
    padding: 15px;
    box-sizing: border-box;
}

.terminal * {
    color: var(--terminal-fg-color, white);
    font-family: var(--terminal-font, "Courier New", monospace);
}

.terminal-type {
    width: 100%;
    display: flex;
}

.terminal-type > span {
    padding-right: 7pt;
}
.terminal-type > input {
    flex-grow: 2;
    background: transparent;
    border: 0;
    font-size: inherit;
    padding: 0;
}
.terminal-type > input:focus {
    border: none;
    outline: none;
}

.terminal-container > p {
    margin: 0;
}

span.terminal-command {
    color: var(--terminal-accent-color, #ffff7d);
}

span.terminal-error {
    color: var(--terminal-error-color, #cc1010);
}
